#container {
    height: calc(var(--vh, 1vh) * 100);
}

.ag-root-wrapper {
    border: 0;
}

.ag-header {
    background-color: white;
    border-bottom: 1px solid #bae6fd;
    font-size: 13px;
}

.ag-header-cell-resize {
    background-color: white;
}

.ag-theme-quartz {
    --ag-header-column-resize-handle-color: rgb(243, 243, 243);
    font-size: 13px;
}

.no-border .ag-cell-focus {
    border: none !important;
}

.no-border .ag-cell {
    outline: none !important;
}
