.ag-theme-quartz {
    --ag-foreground-color: black;
    --ag-background-color: white;
    --ag-header-foreground-color: black;
    --ag-header-background-color: #eff3ff;
    --ag-odd-row-background-color: #f7f7f7;
    --ag-header-column-resize-handle-color: blue;

    --ag-font-size: 12px;
    --ag-font-family: "IBM Plex Sans";
}
