<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <img src="{{ url_for('static', filename='assets/itbpress.png') }}" alt="itbpress" />
        <h1>{{ nama }}</h1>

        {% for item in list %}
        <h1>{{ item }}</h1>
        {% endfor %}

        <br />

        {% for key, value in obj.items() %}
        <h2>{{ key }} : {{ value }}</h2>
        <p>{{ nama }}</p>
        <p>{{ umur }}</p>
        <p>{{ agama }}</p>
        {% endfor %} {% for user in users %}
        <p>{{ user['nama'] }}</p>
        <p>{{ user['umur'] }}</p>
        <p>{{ user['agama'] }}</p>
        {% endfor %} {% extends 'button.html' %} {% block button %} uhuy {% endblock %}
    </body>
</html>
