<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Model Kalkulator</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.png') }}" type="image/x-icon" />
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/tailwind.css') }}" />
    </head>
    <body style="font-family: 'IBM Plex Sans', sans-serif">
        <!-- header -->
        <header class="absolute top-0 left-0 w-full h-16 flex justify-between items-center px-8 z-10">
            <img src="{{ url_for('static', filename='assets/pupuk-indonesia.png') }}" alt="PI" class="h-12 w-fit" />

            <div class="flex items-center gap-4 text-sm">
                <div class="bg-white h-8 w-8 rounded">
                    <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="avatar" class="" />
                </div>
                <span class="text-[#585965]">Administrator</span>
                <img src="{{ url_for('static', filename='assets/expand.png') }}" alt="expand" class="w-2 h-2 cursor-pointer" />
            </div>
        </header>

        <div class="bg-[#EBF4F5] w-screen h-screen pt-16 flex relative">
            <!-- left navigator -->
            <div class="w-52 h-full flex flex-col p-4 justify-between text-sm text-[#585965]">
                <div class="flex flex-col gap-2">
                    <span class="text-xs pb-4">Admin Tools</span>

                    <a href="kalkulasi" class="relative flex gap-2 items-center p-1 rounded-lg group cursor-pointer">
                        <div class="absolute top-0 left-0 w-0 group-hover:w-full h-full bg-white rounded-lg shadow duration-300"></div>
                        <img src="{{ url_for('static', filename='assets/result-gray.png') }}" alt="kalkulasi" class="z-10 w-8 h-8 group-hover:hidden" />
                        <img src="{{ url_for('static', filename='assets/result-blue.png') }}" alt="kalkulasi" class="z-10 w-8 h-8 hidden group-hover:block" />
                        <span class="group-hover:text-[#1A8FCB] duration-150 z-10">Kalkulasi</span>
                    </a>

                    <a href="model-kalkulator" class="relative flex gap-2 items-center p-1 rounded-lg group cursor-pointer">
                        <div class="absolute top-0 left-0 w-full h-full bg-white rounded-lg shadow duration-300"></div>
                        <img src="{{ url_for('static', filename='assets/calculator-blue.png') }}" alt="kalkulasi" class="z-10 w-8 h-8 p-1" />
                        <span class="text-[#1A8FCB] z-10">Kalkulator</span>
                    </a>
                </div>

                <div class="flex gap-2 items-center">
                    <img src="{{ url_for('static', filename='assets/logout-gray.png') }}" alt="logout" class="w-8 h-8" />
                    <span>Logout</span>
                </div>
            </div>

            <!-- content -->
            <div class="w-full h-full bg-white rounded-tl-[2rem] flex flex-col p-6 gap-2 overflow-y-scroll">
                <h1 class="text-[#585965] pb-2 border-b-2">Model Kalkulator</h1>
                <div id="boxTabs" class="h-fit w-full bg-[#EFF3FF] rounded-md p-2 flex gap-2 text-xs text-[#585965]">
                    <h5 id="headerTabsInput" data-tabs="input" class="header-tabs py-1 px-1 hover:cursor-pointer duration-300 hover:border-b hover:border-[#1A8FCB] hover:text-[#1A8FCB] border-b border-[#1A8FCB] text-[#1A8FCB] whitespace-nowrap">Unggah File</h5>
                    <h5 id="headerTabsManual" data-tabs="manual" class="header-tabs py-1 px-1 hover:cursor-pointer duration-300 hover:border-b hover:border-[#1A8FCB] hover:text-[#1A8FCB] whitespace-nowrap">Input Manual</h5>
                </div>

                <div class="tab-contents tab-input hidden gap-6 text-xs pl-2 items-center">
                    <div class="flex gap-2 items-center">
                        <span>Pilih Model Kalkulator</span>
                        <select id="slcModel" class="bg-transparent cursor-pointer border p-1 rounded">
                            <option value="wilson">Model Wilson</option>
                            <option value="tchebycheff">Model Tchebycheff</option>
                            <option value="q">Model Q</option>
                            <option value="poisson">Model Poisson</option>
                            <option value="nonmoving">Model Non-Moving</option>
                            <option value="bcr">Model BCR</option>
                        </select>
                    </div>
                    <img src="{{ url_for('static', filename='assets/right-arrow.png') }}" alt="arrow" />
                    <div class="flex gap-2 items-center">
                        <span>Unduh Template Excel</span>
                        <button id="btnTemplate" class="py-1 px-3 text-xs cursor-pointer rounded bg-[#1A8FCB] hover:bg-[#1a75cb] text-white focus:scale-95 duration-150">Unduh</button>
                    </div>
                    <img src="{{ url_for('static', filename='assets/right-arrow.png') }}" alt="arrow" />
                    <div class="flex gap-2 items-center">
                        <span id="textAmbil">Unggah & Proses File</span>
                        <label for="inpAmbil" class="py-1 px-3 text-xs cursor-pointer rounded bg-[#47AD41] hover:bg-[#3d9e38] text-white">Ambil File</label>
                        <input id="inpAmbil" type="file" class="cursor-pointer" hidden />
                    </div>
                    <img src="{{ url_for('static', filename='assets/right-arrow.png') }}" alt="arrow" />
                    <button id="btnProses" class="py-1 px-3 text-xs cursor-pointer rounded bg-[#F68B33] hover:bg-[#eb832f] text-white focus:scale-95 duration-150">Proses</button>
                </div>

                <div class="tab-contents tab-manual w-full h-fit hidden flex-col gap-2 text-sm text-[#585965] mb-8">
                    <h1 class="pb-4 cursor-pointer px-2 w-fit hover:text-black">Input Manual</h1>
                    <div class="flex w-full gap-16">
                        <div class="flex flex-col gap-2">
                            <div id="slcQ" data-color="1A8FCB" data="manualCalc(event, 'calcQ', '1A8FCB')" class="bg-white slc-manual flex gap-3 group hover:bg-[#1A8FCB] cursor-pointer duration-150 py-1 pl-2 px-6 rounded items-center">
                                <div class="h-6 w-6 bg-[#1A8FCB] text-white flex items-center justify-center font-semibold rounded">Q</div>
                                <span class="whitespace-nowrap group-hover:text-white duration-150">Model Q</span>
                            </div>
                            <div id="slcPoisson" data-color="47AD41" data="manualCalc(event, 'calcPoisson', '47AD41')" class="bg-white slc-manual flex gap-3 group hover:bg-[#47AD41] cursor-pointer duration-150 py-1 pl-2 px-6 rounded items-center">
                                <div class="h-6 w-6 bg-[#47AD41] text-white flex items-center justify-center font-semibold rounded">P</div>
                                <span class="whitespace-nowrap group-hover:text-white duration-150">Model Poisson</span>
                            </div>
                            <div id="slcWilson" data-color="F9CD2B" data="manualCalc(event, 'calcWilson', 'F9CD2B')" class="bg-white slc-manual flex gap-3 group hover:bg-[#F9CD2B] cursor-pointer duration-150 py-1 pl-2 px-6 rounded items-center">
                                <div class="h-6 w-6 bg-[#F9CD2B] text-white flex items-center justify-center font-semibold rounded">W</div>
                                <span class="whitespace-nowrap group-hover:text-white duration-150">Model Wilson</span>
                            </div>
                            <div id="slcTchebycheff" data-color="F68B33" data="manualCalc(event, 'calcTchebycheff', 'F68B33')" class="bg-white slc-manual flex gap-3 group hover:bg-[#F68B33] cursor-pointer duration-150 py-1 pl-2 px-6 rounded items-center">
                                <div class="h-6 w-6 bg-[#F68B33] text-white flex items-center justify-center font-semibold rounded">T</div>
                                <span class="whitespace-nowrap group-hover:text-white duration-150">Model Tchebycheff</span>
                            </div>
                            <div id="slcRegret" data-color="7961F2" data="manualCalc(event, 'calcRegret', '7961F2')" class="bg-white slc-manual flex gap-3 group hover:bg-[#7961F2] cursor-pointer duration-150 py-1 pl-2 px-6 rounded items-center">
                                <div class="h-6 w-6 bg-[#7961F2] text-white flex items-center justify-center font-semibold rounded">R</div>
                                <span class="whitespace-nowrap group-hover:text-white duration-150">Model Min Max Regret</span>
                            </div>
                            <div id="slcLinear" data-color="F33D3D" data="manualCalc(event, 'calcLinear', 'F33D3D')" class="bg-white slc-manual flex gap-3 group hover:bg-[#F33D3D] cursor-pointer duration-150 py-1 pl-2 px-6 rounded items-center">
                                <div class="h-6 w-6 bg-[#F33D3D] text-white flex items-center justify-center font-semibold rounded">L</div>
                                <span class="whitespace-nowrap group-hover:text-white duration-150">Model Kerusakan Linear</span>
                            </div>
                            <div id="slcNonLinear" data-color="E667E6" data="manualCalc(event, 'calcNonLinear', 'E667E6')" class="bg-white slc-manual flex gap-3 group hover:bg-[#E667E6] cursor-pointer duration-150 py-1 pl-2 px-6 rounded items-center">
                                <div class="h-6 w-6 bg-[#E667E6] text-white flex items-center justify-center font-semibold rounded">NL</div>
                                <span class="whitespace-nowrap group-hover:text-white duration-150">Model Kerusakan Non Linear</span>
                            </div>
                            <div id="slcBCR" data-color="FF5975" data="manualCalc(event, 'calcBCR', 'FF5975')" class="bg-white slc-manual flex gap-3 group hover:bg-[#FF5975] cursor-pointer duration-150 py-1 pl-2 px-6 rounded items-center">
                                <div class="h-6 w-6 bg-[#FF5975] text-white flex items-center justify-center font-semibold rounded">B</div>
                                <span class="whitespace-nowrap group-hover:text-white duration-150">Model BCR</span>
                            </div>
                        </div>

                        <div class="relative w-fit h-fit flex flex-col border p-4 pb-8 rounded shadow">
                            <div id="headerParameter" class="absolute -top-5 left-4 whitespace-nowrap px-2 py-1 bg-white border rounded"></div>
                            <button id="btnHitung" class="bg-[#1A8FCB] hover:bg-[#147EB5] py-2 px-8 text-white shadow rounded absolute -bottom-4 right-4 focus:scale-95 duration-150">Hitung</button>

                            <!-- Model Q -->
                            <form id="calcQ" class="hidden flex-col gap-2 calc-model">
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Code</span>
                                    <input name="material_code" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Description</span>
                                    <input name="material_description" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>ABC Indicator</span>
                                    <input name="abc_indikator" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Rata - Rata Permintaan Barang (D) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="rata_rata_permintaan_barang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Lead Time (L) Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="lead_time" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Standar Deviasi Permintaan Barang (s) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="standar_deviasi" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Harga Barang (p) Unit <span class="text-xs text-red-500">*</span></div>
                                    <input name="harga_barang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Simpan (h) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_simpan" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Kekurangan Inventori (Cu) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_kekurangan_inventory" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Pesan (A) Pesan <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_pesan" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="pesan" />
                                </div>
                            </form>
                            <!-- Model Poisson -->
                            <form id="calcPoisson" class="hidden flex-col gap-2 calc-model">
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Code</span>
                                    <input name="material_code" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Description</span>
                                    <input name="material_description" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>ABC Indicator</span>
                                    <input name="abc_indikator" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Rata - Rata Permintaan Barang (D) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="rata_rata_permintaan_barang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Lead Time (L) Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="lead_time" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Standar Deviasi Permintaan Barang (s) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="standar_deviasi" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Harga Barang (p) Unit <span class="text-xs text-red-500">*</span></div>
                                    <input name="harga_barang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Simpan (h) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_simpan" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Kekurangan Inventori (Cu) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_kekurangan_inventory" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                            </form>
                            <!-- Model Wilson -->
                            <form id="calcWilson" class="hidden flex-col gap-2 calc-model">
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Code</span>
                                    <input name="material_code" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Description</span>
                                    <input name="material_description" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>ABC Indicator</span>
                                    <input name="abc_indikator" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Lead Time (L) Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="lead_time" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Harga Barang (p) Unit <span class="text-xs text-red-500">*</span></div>
                                    <input name="harga_barang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Simpan (h) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_simpan" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Permintaan Barang (D) Unit/Tahun <span class="text-xs text-red-500">*</span></div>
                                    <input name="permintaan_barang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit/tahun" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Pesan (A) Pesan <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_pesan" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="pesan" />
                                </div>
                            </form>
                            <!-- Model Tchebycheff  -->
                            <form id="calcTchebycheff" class="hidden flex-col gap-2 calc-model">
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Code</span>
                                    <input name="material_code" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Description</span>
                                    <input name="material_description" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>ABC Indicator</span>
                                    <input name="abc_indikator" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Standar Deviasi Permintaan Barang (s) <span class="text-xs text-red-500">*</span></div>
                                    <input name="standar_deviasi" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="standar deviasi" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Harga Barang (p) Unit <span class="text-xs text-red-500">*</span></div>
                                    <input name="harga_barang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Kerugian Ketidakadaan Barang (Cu) Unit <span class="text-xs text-red-500">*</span></div>
                                    <input name="kerugian_ketidakadaan_barang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Rata - Rata Permintaan Barang (alpha) <span class="text-xs text-red-500">*</span></div>
                                    <input name="rata_rata_permintaan_barang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="alpha" />
                                </div>
                            </form>
                            <!-- Model Min Max Regret -->
                            <form id="calcRegret" class="hidden flex-col gap-2 calc-model">
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Code</span>
                                    <input name="material_code" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Description</span>
                                    <input name="material_description" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>ABC Indicator</span>
                                    <input name="abc_indikator" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Pemakaian Komponen (H) <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_pemakaian_komponen" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Kerugian Akibat Kerusakan (L) <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_kerugian_kerusakan" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Jumlah Komponen Terpasang (m) <span class="text-xs text-red-500">*</span></div>
                                    <input name="jumlah_komponen_terpasang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="jumlah" />
                                </div>
                            </form>
                            <!-- Model Kerusakan Linear -->
                            <form id="calcLinear" class="hidden flex-col gap-2 calc-model">
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Code</span>
                                    <input name="material_code" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Description</span>
                                    <input name="material_description" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>ABC Indicator</span>
                                    <input name="abc_indikator" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Pemakaian Komponen (H) <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_pemakaian_komponen" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Kerugian Akibat Kerusakan (L) <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_kerugian_kerusakan" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Jumlah Komponen Terpasang (m) <span class="text-xs text-red-500">*</span></div>
                                    <input name="jumlah_komponen_terpasang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="jumlah" />
                                </div>
                            </form>
                            <!-- Model Kerusakan Non Linear -->
                            <form id="calcNonLinear" class="hidden flex-col gap-2 calc-model">
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Code</span>
                                    <input name="material_code" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Description</span>
                                    <input name="material_description" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>ABC Indicator</span>
                                    <input name="abc_indikator" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Pemakaian Komponen (H) <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_pemakaian_komponen" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Ongkos Kerugian Akibat Kerusakan (L) <span class="text-xs text-red-500">*</span></div>
                                    <input name="ongkos_kerugian_kerusakan" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="unit" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Jumlah Komponen Terpasang (m) <span class="text-xs text-red-500">*</span></div>
                                    <input name="jumlah_komponen_terpasang" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="jumlah" />
                                </div>
                            </form>
                            <!-- Model BCR -->
                            <form id="calcBCR" class="hidden flex-col gap-2 calc-model">
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Code</span>
                                    <input name="material_code" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>Material Description</span>
                                    <input name="material_description" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <span>ABC Indicator</span>
                                    <input name="abc_indikator" type="text" class="py-1 px-2 border rounded" placeholder="optional" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Harga Komponen (Ho) <span class="text-xs text-red-500">*</span></div>
                                    <input name="harga_komponen" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="harga" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Kerugian Komponen (Co) <span class="text-xs text-red-500">*</span></div>
                                    <input name="kerugian_komponen" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="kerugian" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Suku Bunga (I) <span class="text-xs text-red-500">*</span></div>
                                    <input name="suku_bunga" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="suku bunga" />
                                </div>
                                <div class="flex gap-4 items-center justify-between">
                                    <div>Waktu Sisa Operasi (tahun) <span class="text-xs text-red-500">*</span></div>
                                    <input name="waktu_sisa_operasi" oninput="numericInput(event)" type="text" class="py-1 px-2 border rounded" inputmode="numeric" pattern="[0-9]*" placeholder="tahun" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="domAggrid" class="tab-contents tab-input hidden w-full h-[50rem] duration-75 flex-col gap-2 overflow-y-scroll pt-6">
                    <div class="w-full h-[calc(100%)]">
                        <div id="aggrid" class="w-full h-full ag-theme-quartz"></div>
                    </div>
                </div>
            </div>

            <!-- notif -->
            <div id="boxNotif" class="absolute w-fit h-fit top-4 left-4 flex flex-col gap-2 z-50"></div>
        </div>

        <div id="boxLoadingUpload" class="absolute top-0 left-0 h-screen w-screen bg-transparent z-50 hidden justify-center items-center">
            <div class="absolute top-0 left-0 w-full h-full bg-[#585965] opacity-50"></div>
            <div class="absolute top-0 left-0 w-full h-full bg-transparent backdrop-blur"></div>
            <div class="relative h-fit text-sm w-fit p-8 bg-white z-10 rounded-xl shadow flex gap-6 justify-center pt-20">
                <div class="flex flex-col gap-2">
                    <div class="flex gap-4 items-center">
                        <span class="w-[8rem]">Material</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">6072060</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[8rem]">Kategori</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">Pola Deterministik</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[8rem]">Rata_Rata</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">59000000</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[8rem]">Standar_Deviasi</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">94000000</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[8rem]">Material Code</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">6072060</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[8rem]">Material description</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">BOLT,MACHINE:5/8IN UNCX50.8MM;HEX;B7</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[8rem]">Unit Price</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">35000000</div>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <div class="flex gap-4 items-center">
                        <span class="w-[16rem]">ABC Indicator</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">B</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[16rem]">Estimasi Lead Time (Mon)</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">3</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[16rem]">Estimasi Lead Time (Day)</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">90</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[16rem]">Estimasi Lead Time (Year)</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">246575</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[16rem]">Ongkos_Pesan_deterministik</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">1000000</div>
                    </div>
                    <div class="flex gap-4 items-center">
                        <span class="w-[16rem]">Ongkos_Simpan_Barang_deterministik</span>
                        <div class="border-gray-500 border py-1 px-2 rounded">5250000</div>
                    </div>
                </div>

                <div class="text-white bg-[#1A8FCB] text-base px-4 pr-24 py-2 rounded absolute top-4 left-4">Model Q</div>
                <img onclick="closeLoad()" src="{{ url_for('static', filename='assets/delete.png') }}" alt="close" class="absolute cursor-pointer top-4 right-4 w-8 h-8" />
            </div>
        </div>

        <script src="{{ url_for('static', filename='vendors/sheet.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/aggrid.js') }}"></script>
        <script src="{{ url_for('static', filename='js/kalkulator.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </body>
</html>
