<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/tailwind.css') }}">
</head>
<body>
    <select id="slcModel" class="cursor-pointer">
        <option value="wilson">wilson</option>
        <option value="tchebycheff">tchebycheff</option>
        <option value="q">q</option>
        <option value="poisson">poisson</option>
        <option value="nonmoving">non-moving</option>
        <option value="bcr">bcr</option>
    </select>

    <input type="file" onchange="process(event)" >

    <div id="result"></div>

    <script src="{{ url_for('static', filename='js/testing.js') }}"></script>
</body>
</html>